.ansatte-header {
  background-color: white;
  height: 15vh;
}

.ansatte-logo {
  height: 70px;
  margin-left: 100px;
  margin-right: 70px;
}

.ansatte-link {
  margin: 30px;
}

.login-header {
  text-align: end;
  margin-right: 100px;
}

.ansatte-header h3 {
  font-family: var(--regularFont);
}

.ansatte-header h1 {
  font-family: var(--regularFont);
  font-size: var(--secondHeader);
}

.ansatte-container {
  background-color: white;
  position: fixed;
  height: 100vh;
  width: 100vw;
}
.ansatte-forside {
  background-color: white;
  margin-left: 100px;
}

.ansatte-forside h2 {
  font-family: var(--regularFont);
  font-size: var(--secondHeader);
}

.ansatte-forside .headline {
  background-color: white;
  padding-top: 50px;
}

.ansatte-forside .second-headline {
  margin-top: 40px;
}

.ansatte-forside .buttons {
  margin-top: 50px;
}

.ansatte-forside .btn {
  background-color: #f2f2f2;
  width: 15vw;
  max-width: 200px;
  min-width: 130px;
  margin-right: 1rem;
  padding: 1.2rem;
  border-radius: 0;
}

.forside-btn-logo {
  height: 2rem;
}

.calendar {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: white;
  color: var(--mainBlack);
  margin: 3rem 2rem;
}

.calendar-card {
  font-size: var(--bodyText);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-content: center;
  min-height: 125px;
  max-height: 150px;
}

.calender-info {
  flex: 1 0 auto;
}

.ansatte-kalender {
  background-color: white;
  width: 100vw;
  height: 100%;
  margin: 0 2rem;
}

.calendar-table {
  width: 90vw;
}

.tid-component {
  margin-left: 100px;
}

.rom-component {
  margin-left: 80px;
}

.tidspunkter-calendar {
  width: 100px;
}
.container-rom {
  width: 100px;
}
.rom-nr {
  font-size: 40px;
}

tr,
hr,
th,
td {
  border-bottom: 1px solid rgb(196, 190, 190);
  border-right: 1px solid rgb(196, 190, 190);
  /* overflow: hidden; */
/*   white-space: pre-wrap;
  word-wrap: break-word;
  text-overflow: ellipsis; */
}

.calendar-table .tid-component {
  text-align: center;
  font-size: 18px;
}

.calendar-table h2 {
  font-size: 50px;
}

td {
  padding: 2rem;
}

.room-number {
  width: 30px;
}

.calendar-table .border {
  background-color: #7eb5ba;
  height: 10px;
  border-radius: 1rem;
  border: none !important;
  flex-shrink: 0;
}

.calendar-table .border-darkblue {
  background-color: var(--mainPurple);
}

.calendar-table .border-gray {
  background-color: #bdbdbd;
}

.calendar-table h5 {
  color: #bdbdbd;
  font-size: 14px;
}

.calendar-table h4 {
  font-size: 16px;
  font-family: var(--boldFont);
}

.calendar-table .break {
  background-color: var(--mainBlue);
}

.ledig {
    margin-top: 2rem;
}

.admin-content-container {
  margin: auto;
  min-width: 968px;
  margin: 0 4rem;
}

.filter-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.filter-btn {
  background:none;
  width: 20vw;
  text-align: left;
  border: 3px solid var(--mainBlack);
  font-size: var(--bodyText);
  font-family: var(--mediumFont);
  padding: 1rem 2rem;
  border-radius: 5px;
}

.filter-btn::after {
  content: '';
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--mainBlack);
  float: right;
  margin-top: 1rem;
}
.filter-btn-dropdown {
  position:relative;
  display: inline-block;
}
.filter-btn-drop {
  display: none;
  position: absolute;
  background-color: white;
  width: 20vw;
  padding: 2rem 3rem;
  z-index: 1;
  font-size: var(--bodyText);
  border: 3px solid var(--mainBlack);
  margin-top: -3px;
}

.filter-btn-drop ul {
  list-style: none;
  padding:0;
}

.filter-btn-drop ul li {
  margin-top: 2rem;
}

.filter-btn-drop ul li:after {
  content: '';
  background-color: transparent;
  border: 3px solid var(--mainBlack);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  float: right;
}

.filter-btn-drop ul li:after:hover {
  background-color: var(--mainBlack);
}

.filter-btn-dropdown:hover .filter-btn-drop {
  display: block;
}