/* BEHANDLINGER*/

.behandlinger {
  background-color: white;
  border-radius: 30px 30px 0 0;
  padding: 5rem;
}

.behandlinger .headline {
  font-size: 6rem;
}

.behandlinger .text {
  font-size: 3rem;
  margin: 2rem;
}

.behandlinger .btn {
  width: 80vw;
  height: 160px;
  background-color: #d4ebe4;
  padding-left: 3rem;
  margin: 10px;
  font-size: 30px;
  text-align: left;
  justify-self: center;
  border-radius: 1rem;
}

.behandlinger .info-container {
  padding-left: 1rem;
}

.behandlinger h3 {
  font-size: 5rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.behandlinger h4 {
  font-size: 3rem;
}

.behandlinger .info-bokser {
  padding: 3rem 0;
}

.behandlinger .info {
  font-size: var(--bigQuote);
}

.behandlinger .rettigheter {
  margin-bottom: 3rem;
}

/* OSTEOPATI */

.osteopati {
  background-color: white;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
}

.osteopati .osteopati-start {
  display: flex;
  flex-direction: column;
}

.osteopati .osteopati-logo {
  width: 100px;
  margin: auto;
  margin-bottom: 20px;
}

.osteopati h1 {
  font-size: var(--firstHeader);
  font-family: var(--boldFont);
  text-align: center;
  margin-bottom: 20px;
}

.osteopati .info {
  text-align: center;
  font-size: var(--smallHeader);
  font-family: var(--regularFont);
  margin-bottom: 50px;
  padding: 0 1rem 0 1rem;
}

.osteopati .img-box {
  display: flex;
  width: 100vw;
}

.osteopati .img {
  display: flex;
  width: 100vw;
  margin-top: 50px;
  z-index: 3;
}

/* Her Alice */

.osteopati-box {
  background-color: var(--lightBlue);
  border-radius: 30px 30px 0 0;
  padding: 5;
  text-align: center;
  margin-top: -3rem;
  z-index: 10;
  right: 0;
  left: 0;
}

.osteopati-box h2 {
  font-size: var(--secondHeader);
  padding: 5rem 5rem 0 5rem;
}
.osteopati-box p {
  font-size: var(--bodyText);
  padding: 1rem;
}
/* Til her! */

.osteopati-box .info-box {
  background: url("../assets/ost-eop-ati-bakgrunn.png") left no-repeat;
  background-size: contain;
}

.osteopati-box .info-box-text {
  margin: 0 2rem 0 3rem;
  padding: 2rem 0 2rem 2rem;
}

.osteopati-box h3 {
  font-size: var(--bodyTextHeight);
  font-family: var(--regularFont);
  margin-left: 3rem;
  padding-right: 0rem;
  text-align: left;
}

.osteopati .when-osteopati {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.osteopati .row {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.osteopati .btn {
  margin: auto;
  margin-bottom: 20px;
}

.osteopati .osteopati-box-last {
  padding-top: 50px;
  background-color: white;
  border-radius: 30px 30px 0 0;
  text-align: center;
  z-index: 13;
}

.osteopati-box-last h1 {
  text-align: start;
  padding-left: 1rem;
}

.osteopati-box-last .info-box {
  text-align: start;
}

/* AKUPUNKTUR */

.akupunktur {
  background-color: white;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
}

.akupunktur .logo-header {
  display: flex;
  flex-direction: column;
}

.akupunktur .akupunktur-logo {
  width: 100px;
  margin: auto;
  margin-bottom: 20px;
}

.akupunktur h1 {
  font-size: var(--firstHeader);
  font-family: var(--boldFont);
  text-align: center;
  margin-bottom: 20px;
}

.akupunktur .logo-header-info {
  text-align: center;
  font-size: var(--smallHeader);
  font-family: var(--regularFont);
  margin-bottom: 50px;
  padding: 0 1rem 0 1rem;
}

.akupunktur .btn {
  margin: auto;
  margin-bottom: 20px;
}
/* Her Alice */
.akupunktur-box {
  background-color: var(--lightBlue);
  border-radius: 30px 30px 0 0;
  padding: 5;
  text-align: center;
  margin-top: -2rem;
  z-index: 10;
  right: 0;
  left: 0;
}

.akupunktur-box h2 {
  font-size: var(--secondHeader);
  padding: 5rem 5rem 0 5rem;
}
.akupunktur-box p {
  font-size: var(--bodyText);
  padding: 1rem;
}

.akupunktur .når-akupunktur {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/* Til her */

.akupunktur .akupunktur-box-last {
  padding-top: 50px;
  background-color: white;
  border-radius: 30px 30px 0 0;
  text-align: center;
  z-index: 13;
}

.akupunktur-box-last .akupunktur-box-last-info {
  text-align: start;
}

/* KOSTHOLDSVEILEDNING*/

.kostholdsveiledning {
  background-color: white;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
}

.kostholdsveiledning .logo-header {
  display: flex;
  flex-direction: column;
}

.kostholdsveiledning .kostholdsveiledning-logo {
  width: 100px;
  margin: auto;
  margin-bottom: 20px;
}

.kostholdsveiledning h1 {
  font-size: var(--firstHeader);
  font-family: var(--boldFont);
  text-align: center;
  margin-bottom: 20px;
}

.kostholdsveiledning .logo-header-info {
  text-align: center;
  font-size: var(--smallHeader);
  font-family: var(--regularFont);
  margin-bottom: 50px;
  padding: 0 1rem 0 1rem;
}

.kostholdsveiledning .btn {
  margin-bottom: 20px;
  margin-left: 1.3rem;
}

.kostholdsveiledning .last-box {
  margin-top: -2rem;
  z-index: 13;
  padding-top: 2rem;
}

.kostholdsveiledning .kostholdsveiledning-info {
  text-align: start;
  padding-right: 130px;
  padding-left: 30px;
  padding-bottom: 2rem;
  background-image: url(../assets/kostholdsveiledning-bakgrunn.png);
  background-size: 300px 400px;
}

.kostholdsveiledning p {
  font-size: var(--bigQuote);
  padding: 1rem;
}
