.bestilltime {
    height: 100%;
    min-height: 75vh;
}

.bestilltime .bestill-time {
    height: 100%;
}

.bestill-time-box {
    align-content: center;
    overflow: hidden;
    width: 100%;
    position: relative;
    top: 5vh;
}

.bestilltime h1 {
    font-size: 5vh;
    text-align: center;
}

.bestilltime .hva-onsker-du-time-til {
    height: 100%;
}

.bestill-time-header {
    font-size: var(--smallHeader);
    font-family: var(--mediumFont);
    position: relative;
    padding-bottom: 2rem;
}

.bestilltime .velg-dato-og-tid {
    background-color: white;
    border-radius: 50rem;
}

.bestilltime .personopplysninger {
    background-color: white;
    border-radius: 3rem;
}

.bestilltime .Gjennomgang {
    background-color: white;
    border-radius: 3rem;
}

.button {
    /*background-color: rgb(83, 83, 245);*/
}

.box {
    margin-top: 3rem;
}

.btn-order {
    background-color: var(--mainPurple);
    color: white;
    border: none;
    padding: 2rem 3rem;
    outline: none;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    /*position: relative;
    top:3vh;*/
}

.btn-order:focus {
    background-color: var(--mainBlue);
    color: var(--mainBlack);
}