/* Import */


/* HEADLINES */
@font-face {
    font-family: 'GraphikHeader';
    src: url('/assets/typeface/GraphikMedium.otf');
}


/* BODY TEXT */
@font-face {
    font-family: 'GraphikBody';
    src: url('/assets/typeface/GraphikRegular.otf');
}