/* Import */


/* Medium */
@font-face {
    font-family: 'GraphikMedium';
    src: url('/assets/typeface/GraphikMedium.otf');
}

/* Regular */
@font-face {
    font-family: 'GraphikRegular';
    src: url('/assets/typeface/GraphikRegular.otf');
}

/* Bold */
@font-face {
    font-family: 'GraphikBold';
    src: url('/assets/typeface/GraphikBold.otf');
}