.footer {
    background-color: #6B7A9B;
    width: 100vw;
    padding: 2rem 1rem;
    font-family: var(--regularFont);
}

.footer-logo {
    display: block;
}

.footer-logo img {
    width: 100%;
}

.footer .text {
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.footer .title {
    display: flex;
    flex: 1;
    border: var(--mainBlack);
    border-width: 3mm;
    font-family: var(--mediumFont);
}

.footer .logo {
    flex: 1;
}

.footer .info-text {
    flex: 2;
    margin-top: 10%;
    color: white;
}

.footer .info-text p {
    padding: 0;
    margin: 0;
    font-size: var(--bodyText);
    line-height: var(--bodyTextHeight);
}

.footer .info-text .info-title {
    font-family: var(--mediumFont);
}

.footer .info-text .info-body {
    font-family: var(--regularFont);
}

.footer .info-text .info-body-small {
    font-size: var(--bodySmall);
}

@media(min-width:968px) {
    .footer {
        display: flex;
    }
    .footer-logo {
        width: 300px;
    }
    .footer .info-text {
        margin-top: 10%;
    }
}