.kontakt {
    margin-left: 5vh;
    padding-top: 15vh;
    padding-bottom: 5vh;
}

.main-header {
    font-size: 2.5rem;
    margin-left: 8vh;
    margin-left: 5vh;
    padding-top: 15vh;
    padding-bottom: 5vh;
}