body,
html {
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

* {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
}
#app {
}

#menu-row-spacing {
  height: 5vh;
  width: 100vw;
}

#menu-row-content {
  height: 10vh;
  width: 100vw;
}
/* MENU */

.menu {
  left: 0;
  right: 0;
  position: fixed;
  height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  background-color: #d4ebe4;
  z-index: 999;
  margin-top: -2rem; 
}
.menu .second-box {
  color: #6b7a9b;
  bottom: 5vh;
}

.menu .items {
  text-align: center;
  font-size: 5rem;
  font-family: sans-serif;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.menu .popup {
  height: 80vh;
}
.header {
  position: sticky;
  top: 0; 
  background-color: var(--lightBlue);
  z-index: 999;
}

.header .logo {
  /* height: 200px; */
  width: 200px;
}

.header .button {
  height: 50px;
}

/* HOMEPAGE */

.intro-text {
  background-color: var(--lightBlue);
}
.home-text {
  font-size: 6rem;
  font-family: 'GraphikBody', sans-serif;
  text-align: center;
  margin-bottom: 4vh;
  
}

.homepage-btn {
  width: 80vw;
  height: 160px;
  background-color: var(--mainBlue);
  margin: 30px;
  font-size: 60px;
  text-align: left;
  justify-self: center;
  border-radius: 1rem;
}

.hompage-btn-text {
  padding-left: 60px;
  z-index: 1;
}

.wrap-btn {
  background-color: white;
  padding-top: 100px;
  border-radius: 70px 70px 0 0;
  padding-bottom: 150px;
}

/* BEHANDLINGER*/
.container-behandlinger {
  background-color: white;
  border-radius: 70px 70px 0 0;
}

.behandlinger-headline {
  margin: 2rem;
  font-size: 6rem;
}

.behandlinger-text {
  font-size: 3rem;
  margin: 2rem;
}

.behandlinger-btn {
  width: 80vw;
  height: 160px;
  background-color: var(--lightBlue);
  margin: 30px;
  font-size: 30px;
  text-align: left;
  justify-self: center;
  border-radius: 1rem;
}
