@import url("fonts.css");
@import url("menu.css");
@import url("footer.css");

/* Basics */
body, html {
    margin: 0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    font-family: 'GraphikBody', sans-serif;

    background-color: var(--lightBlue);
}

* {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
}

:root {
    --mainBlue: #87D0C7; /* PRIMARY */
    --blueShade: #79A5B3; /* HOVER */
    --lightBlue: #D4EBE4; /* For boxes and backgrounds */
    
    --mainPurple: #6B7A9B; /* SECONDARY */
    --purpleShade: #6F84A1; /* HOVER */

    --mainBlack: #333333; /* For all texts */
}


.main-btn {
    cursor: pointer;
    background-color: var(--mainBlue);
    color: var(--mainBlack);
    width: 90vw;
    padding: 2rem 4rem;
    font-size: 4rem;
    text-align: left;
    border-radius: 20px;
}

.main-btn:active {
    outline: none;
}

.main-btn::after {
    content: '';
	border-top: 25px solid transparent;
	border-left: 30px solid var(--mainBlack);
    border-bottom: 25px solid transparent;
    float: right;
    margin: 1.4rem 0;
}

.home-page .main-btn {
    margin-top: 2.2rem;
}

.home-page .main-btn::first-child {
    margin-top: 0;
}