.container {
    background-color: white;
    padding-top: 30px;
    border-radius: 60px 60px 0 0;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
  }

#headline{
    margin: 0.5rem;
    margin-bottom: 2rem;
}
   
.box{
    margin: 0.5rem;
}

#info{
    width: 100%;
    height: 3.5rem;
    border: solid black 1px;
    box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.25);
    border-radius: 3px;
    font-size: 20px;
    padding-left: 20px;
}

.post-box{
    display: flex;
    flex-direction: row;
}

.box1{
    margin-left:0.5rem;
    margin-right:0.25rem;
    flex: 1;
}

.box2{ 
    margin-left:0.25rem;
    margin-right:0.5rem;
    flex: 2;
}

.btn{
    margin: 0.5rem;
}